/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #283593; /* Lacivert tonu */
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative; /* Konumu ayarlamak için */
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    margin-bottom: 10px; /* Özgür Onur Yıldırım ile arasındaki mesafeyi ayarlar */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #1e88e5; /* Hover rengi - Mavi tonu */
}

.header-title {
    position: absolute;
    top: 10px;
    left: 20px;
}

main {
    padding: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.gallery-item {
    /* Gerekirse özelleştirilebilir */
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff; /* Kart arka plan rengi */
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px); /* Hover efekti - Kartı yukarı doğru hareket ettirir */
}

.card img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    color: #666;
}

footer {
    background-color: #283593; /* Lacivert tonu */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}